<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{pageTitle}}</title>
  <link href="/assets/lonely-cat.ico" rel="icon" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  {{#if homeCss}}
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  {{else if logCss}}
  <link rel="stylesheet" type="text/css" href="/css/log.css">
  {{else if registerCss}}
  <link rel="stylesheet" type="text/css" href="/css/register.css">
  {{else if userCss}}
  <link rel="stylesheet" type="text/css" href="/css/user.css">
  {{else if profileCss}}
  <link rel="stylesheet" type="text/css" href="/css/profile.css">
  {{else}}
  <link rel="stylesheet" type="text/css" href="/css/error.css">
  {{/if}}
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>