<main class="main-container">
  <div class="profile-container">
    <div class="profile-pic">
      <img src="{{user.image}}" alt="empty">
    </div>
    <div class="profile-info">
      <p>{{user.firstName}} {{user.lastName}}</p>
      <p>{{age}} years old</p>
      <p>Lonely Level: {{user.lonelyLevel}}</p>
    </div>
    <div class="profile-nav">
      <ul class="profile-list">
        <li class="profile-items">
          <a href="/profile">Profile</a>
        </li>
        <li class="profile-items">
          <a href="/user/requests">{{#if requestCount}}Lonely Requests(<span class="number"> {{requestCount}} </span>){{else}}Lonely Requests{{/if}}</a>
        </li>
        <li class="profile-items">
          <a href="/user/partners">Lonely Partners</a>
        </li>
        <li class="profile-items">
          <a href="/user/suggestions">{{#if suggestionCount}}Suggestions(<span class="number"> {{suggestionCount}} </span>){{else}}Suggestions{{/if}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="partners-container">
     <h1 class="users-header">Message {{messagePartner.firstName}}</h1>
     <form class="message-form" action="/user/message/{{messagePartner.id}}" method="POST">
      <textarea name="message" cols="30" rows="10" placeholder="Message..." maxlength="500" required></textarea>
      <button class="message-btn">Message</button>
     </form>
     <div class="message-feed">
       {{#each messageList}}
        <div  class="message">
          <div class="user-info">
            <img src="{{this.image}}" alt="{{this.firstName}}">
            <p>{{this.firstName}} {{this.lastName}}</p>
          </div>
          <div class="message-info">
            <p>{{this.message}}</p>
          </div>
        </div>
       {{/each}}
     </div>
  </div>
</main>